body{
    background-image:url("../Station6/bg_st6.png");
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.navigation{
 position: relative;
 left: 500px;
 margin-top: -10px;
 margin-left: auto;
 margin-right: auto;
 width: fit-content;
 background-color: black;
 font-size: 20px;
 text-decoration: none;
 border-radius: 10px;
 padding: 10px;
 word-spacing: 5px;
}
a{
    text-decoration: none;
    color:white;
}
.active{
    color: rgb(9, 78, 0);
    font-weight: bold;
}
a:hover{
    color: rgb(4, 107, 10);
    text-decoration: underline;
}
.format{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.karte{
    position: absolute;
    z-index: -1;
}
h1{
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}
.columnx2 {
    float: left;
    width: 200px;
    margin-top: 90px;
    margin-left: 40px;
    padding: 15px;
  }
  .columnx3{
    float: left;
    width: 120px;
    margin-left: 45px;
    padding: 10px;
  }

  