body{
    background-color: #000;
}
.format{
    width: 490px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.buttonBlue{
    width: 150px;
    height: 150px;
    background-color: rgb(4, 122, 231);
    border-radius: 5px;
    border: none;
    margin: 3px;
    margin-bottom: 6px;
}
.buttonRed{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 70, 178);
    border-radius: 5px;
    border: none;
    margin: 3px;
    margin-bottom: 6px;
    
}
.buttonYellow{
    width: 150px;
    height: 150px;
    background-color: rgb(238, 188, 25);
    border-radius: 5px;
    border: none;
    margin: 3px;
}
.controls{
    position: relative;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
#playButton{
    position: relative;; 
    color: rgb(255, 255, 255);
    font-size: 100px;
    padding: 20px;   
}
#playButton:hover{
    cursor: pointer;
    opacity: 70%;
}
#remixButton{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 89px;
}
#remixButton:hover{
    cursor: pointer;
    opacity: 70%;
}
#deleteButton{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 89px;
}
#deleteButton:hover{
    cursor: pointer;
    opacity: 70%;
}