body{
    background-image:url("../Station5/bg_st5.png");
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.navigation{
 position: relative;
 left: 500px;
 margin-top: -10px;
 margin-left: auto;
 margin-right: auto;
 width: fit-content;
 background-color: black;
 font-size: 20px;
 text-decoration: none;
 border-radius: 10px;
 padding: 10px;
 word-spacing: 5px;
}
a{
    text-decoration: none;
    color:white;
}
.active{
    color: rgb(9, 78, 0);
    font-weight: bold;
}
a:hover{
    color: rgb(4, 107, 10);
    text-decoration: underline;
}
.format{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.text>h1{
    position: absolute;
    margin-top: 63px;
    margin-left: 35px;
}
.karte{
    position: absolute;
    z-index: -1;
}
.formular{
    position: absolute;
    margin-top: 125px;
    margin-left: 35px;
}
.nachricht{
    width: 200px;
    height: 50px;
    margin-bottom: 6px;
}
button{
    margin-top: 15px;
}