body{
    background-image:url("../Station3/bg_st3.png");
    font-family: 'Times New Roman', Times, serif;
}
.navigation{
 position: relative;
 left: 500px;
 margin-top: -10px;
 margin-left: auto;
 margin-right: auto;
 width: fit-content;
 background-color: black;
 font-size: 20px;
 text-decoration: none;
 border-radius: 10px;
 padding: 10px;
 word-spacing: 5px;
}
a{
    text-decoration: none;
    color:white;
}
.active{
    color: rgb(9, 78, 0);
    font-weight: bold;
}
a:hover{
    color: rgb(4, 107, 10);
    text-decoration: underline;
}
.format{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.text>h1{
    position: absolute;
    color: white;
    z-index: 2;
    margin-top: 65px;
    margin-left: 35px;

}
.karte{
    position: absolute;
}
/* stern 1 */
.stern1{
    position: absolute;
    z-index: 2;
    margin-top: 220px;
    margin-left: 60px;
}
.stern1_gelb{
    position: absolute;
    z-index: 3;
    margin-top: 220px;
    margin-left: 60px;
    opacity: 0%;
}
.stern1_gelb:hover{
    opacity: 100%;
}
/* stern 2 */
.stern2{
    position: absolute;
    z-index: 2;
    margin-top: 160px;
    margin-left: 193px;
}
.stern2_gelb{
    position: absolute;
    z-index: 3;
    margin-top: 160px;
    margin-left: 193px;
    opacity: 0%;
}
.stern2_gelb:hover{
    opacity: 100%;
}
/* stern 3 */
.stern3{
    position: absolute;
    z-index: 2;
    margin-top: 260px;
    margin-left: 330px;
}
.stern3_gelb{
    position: absolute;
    z-index: 3;
    margin-top: 260px;
    margin-left: 330px;
    opacity: 0%;
}
.stern3_gelb:hover{
    opacity: 100%;
}
/* stern 4 */
.stern4{
    position: absolute;
    z-index: 2;
    margin-top: 200px;
    margin-left: 475px;
}
.stern4_gelb{
    position: absolute;
    z-index: 3;
    margin-top: 200px;
    margin-left: 475px;
    opacity: 0%;
}
.stern4_gelb:hover{
    opacity: 100%;
}